# Environment
.env
.env.*
.env.local
.env.development
.env.production
.venv/
__pycache__/
tv_webhook_api.py
includes/
Fidelity/**
data_store/**
data_store/bars/
data_store/features/
data_store/regimes/
data_store/*
data_store/
quantum/

# Node
node_modules/
npm-debug.log

# IDE
.vscode/*
.DS_Store

# logs
logs/
logs/*
logs/**
*.log

assets.htmldata_store/
