# Environment
.env
.env.*
.env.local
.env.development
.env.production
.venv/
__pycache__/
tv_webhook_api.py
includes/
file.txt
paybills.html
Fidelity/

# Node
node_modules/
npm-debug.log

# IDE
.vscode/
.DS_Store
